* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #202020;
    color: #ffffff;
    font-family: sans-serif;

    height: 100vh;
    width: 100vw;
}

button {
    background-color: #444;
    color: white;
    font-weight: bold;
    cursor: pointer;

    border: 1px solid #666;

    width: fit-content;
    align-self: center;

    padding: 5px 20px;
}

.ui-login {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    border: 3px solid #444;
    border-radius: 10px;
    
    padding: 15px;
    gap: 50px;
}

.navigation {
    position: fixed;
    top: 50px;
    left: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 20%;
    gap: 10px;
}

.navBtn {
    width: 80%;
}

.view {
    display: none;

    border: 3px solid #444;
    border-radius: 10px;

    position: fixed;
    top: 50px;
    left: 20%;

    width: 80%;
    height: 90%;

    padding: 15px;
    gap: 10px;
}

.view.active {
    display: flex;
}

.view-start {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.view-stadt {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.view-bauwerke {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    gap: 10px;
}

.topBar {
    position: fixed;
    top: 5px;
    left: 0;

    border: 3px solid #444;
    border-radius: 0px;

    width: 100%;
    height: 40px;
}

.topMenue {
    position: fixed;
    top: 10px;
    left: 0%;

    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0px 20px;
    gap: 20px;

    width: 60%;
    height: 30px;
}

.topLager {
    position: fixed;
    top: 5px;
    left: 60%;

    border: 3px solid #444;
    border-radius: 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    width: 40%;
    height: 40px;
}

.topBtn {
    padding: 2px 6px;
}

.topInfo {
    position: fixed;
    top: 10px;
    left: 30%;
    width: 30%;

    padding: 7px 0px;
}

.bauwerke {
    width: 50%;
    padding: 5px 10px;
}