* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #202020;
    color: #ffffff;
    font-family: sans-serif;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    height: 100vh;
    width: 100vw;
    
    padding: 20px;
    gap: 20px
}

button {
    background-color: #444;
    color: white;
    font-weight: bold;
    cursor: pointer;

    border: 1px solid #666;

    width: fit-content;
    align-self: center;

    padding: 5px 20px;
}

.ui-login {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    border: 3px solid #444;
    border-radius: 10px;
    
    padding: 15px;
    gap: 50px;
}

.ui-start {
    display: flex;
    flex-direction: column;
    text-align: center;

    border: 3px solid #444;
    border-radius: 10px;

    width: 50%;
    margin: 20px;

    padding: 15px;
    gap: 50px;
}

.logout {
    background-color: #444;
    color: white;
    font-weight: bold;
    cursor: pointer;

    border: 1px solid #666;

    width: fit-content;
    align-self: center;

    padding: 15px 20px;
}

.topBar {
    position: fixed;
    top: 5px;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    border: 3px solid #444;
    border-radius: 10px;

    width: 100%;
    height: 30px;
}